
.card {
    height: 600px; /* ارتفاع ثابت لكل بطاقة */
    display: flex;
    flex-direction: column; /* يضمن أن المحتوى داخل البطاقة يتوزع عمودياً */
}

.card-body {
    flex-grow: 1; /* يملأ المساحة المتبقية داخل البطاقة */
}
